.search-box {
  -webkit-appearance: none;
  border: 4px solid;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 16px;
}

.search-box:focus {
  background-color: lightblue;
}
